<h1>Play Details</h1>

<h2>Title</h2>
<h4><%= @play.title%></h4>

<h2>Director</h2>
<h4><%= @play.director%></h4>

<h2>Play description</h2>
<p><%= @play.description%></p>


<%= link_to "Back", root_path%>
<%= link_to "Edit", edit_play_path(@play)%>
<%= link_to "Delete", play_path(@play), method: :delete, data: { confirm: "Are you sure?" } %>